
.btn-register{
    background-color:#4BC1D2!important ;
    color: #FFFF;
}
.form-register{
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.2);
    width: 30%;
}
.form-control{
    border: 1px solid #BAD7E3!important;
    background-color: #F8FEFF;
    
}
::placeholder{
    color: #5E8396!important;
}
.no-count{
    border-top: 1px solid #BAD7E3;
}
.container-register{
    margin-top: 5vh!important;
}
.cont-form-register{
    margin-top: 3vh!important;
}
.contain-title {
    padding-left: 0;
    padding-right: 0;
}
.contain-title h2{
    font-weight: 800;
    font-size: 38px!important;
    color: #03151E;
}




  